#about {
	padding: 5% 0;
	background-image: url(../../images/services_bg.jpg);
	background-size: cover;
}
.about-us {
	margin-top: 7rem;
	padding-bottom: 5rem;
}
.about-heading {
	text-align: center;
}
.about-detail {
	width: 36rem;
}
.about-img {
	width: 30rem;
	img {
		width: 100%;
	}
}