#card {
	background-color: #F6F7FB;
	padding: 7% 0;
}
.card-heading {
	text-align: center;
	margin-bottom: 3rem;
}
.cards {
	border: 1px solid #CCCCCC;
	padding: 4rem 1.5rem;
}
.card-2 {
	background-color: #FFF;
}